extends ../shared/layout

block main-content
  ul.nav.nav-tabs
    li.active
      a(href='#home', data-toggle='tab', aria-expanded='false') Overview
    li
      a(href='#credentials', data-toggle='tab', aria-expanded='true') Credentials

  #myTabContent.tab-content
    br

    #home(class=typeof start === "undefined" ? "tab-pane fade active in" : "tab-pane fade")
      p
        | Some generic information - exams, homeworks, trainings participaded in

    #credentials(class=start === "credentials" ? "tab-pane fade active in" : "tab-pane fade")
      form(method="post" class="form-horizontal")
        div(class="col-md-offset-2 col-md-8")
          fieldset.backgrounded
            label(for="password") Change Password
            input(id="password" class="form-control" type="password" name="password" placeholder="Password")
            br
            label(for="confirm-password") Confirm Password
            input(id="confirm-password" class="form-control" type="password" name="confirmPassword" placeholder="Confirm password")
            br
            label(for="email") E-mail
            input(id="email" class="form-control" type="email" name="email" placeholder="E-mail" value=user.email)
            br
            label(for="first-name") First Name
            input(id="first-name" class="form-control" type="text" name="firstName" placeholder="First Name" value=user.firstName)
            br
            label(for="last-name") Last Name
            input(id="last-name" class="form-control" type="text" name="lastName" placeholder="Last Name" value=user.lastName)
            br
            label(for="faculty-number") Faculty number
            input(id="faculty-number" class="form-control" type="text" name="facultyNumber" placeholder="Faculty number" value=user.facultyNumber)
            br
            label(for="administrative-group") Group
            input(id="administrative-group" class="form-control" type="number" name="administrativeGroup" placeholder="Administrative group" value=user.administrativeGroup)
            hr
            input(type="submit" class="btn btn-lg btn-primary" value="Update")
