extends ../shared/layout
block main-content
    form(method="post")
        div(class="row")
            div(class="col-md-9")
                h1
                    a(href='../contest/' + problem.contest._id + '/' + problem.contest.title) #{problem.contest.title}
                h3
                    | #{problem.title}
            div(class="col-md-3 problem-stats")
                h3
                    | 0/0

        div(class="row")
            textarea(class="form-control" rows="12" name="inputCode") Code goes here...
            br
            div(class="row")
                div(class="col-md-3")
                    label(for="language") Language
                    select(id="language" class="form-control" name="language")
                        each lang in problem.allowedLanguages
                            option(value=lang) #{lang}
                div(class="col-md-9")
                    if (currentUser)
                        input(type="submit" id="submit" class="btn btn-lg pull-right" value="Submit")
                    else
                        input(type="submit" class="btn btn-lg pull-right" disabled="disabled" value="Submit")

                    input#problemId(type='hidden', name='problemId' value=problem._id)
        hr

        div(class="row")
            table(id="submissions" class="table table-striped")
                thead
                    tr
                        th #
                        th Column heading
                        th Column heading
                        th Column heading
                tbody
                    tr
                        td 1
                        td Column content
                        td Column content
                        td Column content
                    tr
                        td 2
                        td Column content
                        td Column content
                        td Column content

block page-scripts
    script(src="/lib/addSubmission.js")
