extends ../shared/layout

block main-content
  ul.breadcrumb
    li
      a(href='/') Home
    li
      a(href='/contest/' + submission.problem.contest) Contest
    li
      a(href='/problem/' + submission.problem._id) Problem
    li.active Submission
  //- TODO: Implement different type of code submitted e.g. archive for downlaod, file for download...
  fieldset.backgrounded
    textarea(id="code" class="form-control code-shower" name="code") #{submission.sourceCode}

  br

  if testResults.length > 0
    .row
      .col-md-offset-2.col-md-8
        h4 Tests
        table.table.table-striped.table-hover
          thead
            tr
              th #
              th Date and time
              th Status
              th Review
          tbody
            each testResult, i in testResults
              tr
                td #{i+1}
                td #{moment(testResult.createdOn).format('hh:mm:ss, MMMM Do YYYY')}
                td #{testResult.result}
                td
                  a(href='#testResult' + (i+1), data-toggle='tab', aria-expanded='false') See details

        #myTabContent.tab-content
          each testResult, i in testResults
            div(id='testResult' + (i + 1)).tab-pane.fade
              //- TODO: Some tests will come from file, make sure this works...
              h4 Results for test ##{i+1}
              p
                | Input data:
                span.text-danger    #{testResult.test.input}
              p
                | Expected output data:
                span.text-danger    #{testResult.expected}
              p
                | Actual output data:
                span.text-danger    #{testResult.actual}
