extends ../shared/layout

block main-content
  h2= problem.title
  ul.breadcrumb
    li
      a(href='/') Home
    li
      a(href='/contest/' + problem.contest) Contest
    li.active= problem.title

  h4 Best result
  .row
    .col-md-9.col-md-offset-1
      .progress
        .progress-bar.progress-bar-success(style='width: ' + score + '%')
    .col-md-1
      span #{score}/100

  form(method="post" class="form-horizontal")
    div(class="col-md-12")
      fieldset.backgrounded
        textarea(id="code" class="form-control code-area" name="code")
      br
      .form-group
        label.col-lg-2.control-label(for="language") Programming language
        .col-lg-10
          select(id="language" class="form-control" name="language")
            each lang in problem.allowedLanguages
              option(value=lang) #{lang}

      hr
      input(type="submit" class="btn btn-lg btn-primary" value="Submit code")
      hr

  if submissions.length > 0
    .row
      .col-md-offset-2.col-md-8
        h4 Submissions
        table.table.table-striped.table-hover
          thead
            tr
              th #
              th Submission
              th Date and time
              th Points
          tbody
            each submission, i in submissions
              tr
                td #{i+1}
                td
                  a(href="/submission/" + submission._id) Submission
                td #{moment(submission.submitedOn).format('hh:mm:ss, MMMM Do YYYY')}
                td #{submission.points}
        //- ul.pager
        //-   li.disabled
        //-     a(href='#') Previous
        //-   li
        //-     a(href='#') Next
